* { margin:0;padding:0;box-sizing:border-box; }
body{
	text-align: center;
	font-family: Helvetica, sans-serif;
	color:#4B4B5A;
	font-size: 18px;
	background-color: #E9E8E9;
}
h1{
	font-size: 3em;
	margin: 0.5em;
}
h2{
	font-size: 2em;
	margin: 0.5em;
}
#cta h2 {
	font-size: 3em;
}
h3{
	font-size: 1.5em;
	margin: 1.5em;
}
h4{
	font-size: 1.15em;
	font-weight: 300;
}
p{
	margin: 0.5em;
}
ul{
	list-style-type:none;
	text-align: left;
	margin: 1em;
}
li{
	margin: 2em;
}
header{
	background-color: rgba(0, 171, 199,.5);
	padding:1.5em;
	text-align: left;
}
nav{
	color: #ffffff;
	font-size: 0.85em;
	text-align: right;
}
a{
	text-decoration: none;
	color: #ffffff;	
}
a:hover{
	text-decoration: underline;
}
/* Splash MAIN section */
#splash{
	padding:8em 1em;
}
.buttons{
	margin: 3em;
}
#splash a{
	padding: 1em 2em;
	color:#ffffff;
	background-color: #4B4B5A;
	text-decoration: none;
}
#splash a:hover {
    background-color: #66667C;
}
/* Packages section */
#packages{
	padding:1.5em;
	background-color: #ffffff;
	padding:4em 1em;
}
.pack{
	color:#61616B;
	width:33.33%;
}
/* Promo section */
#promo{
	padding:4em 1em;
}
/* CTA section */
#cta{
	padding:6em 1em;
	background-color: #ffffff;	
}
#cta a{
	padding: 1em 2em;
	color:#ffffff;
	background-color: #4B4B5A;
	text-decoration: none;
}
#cta a:hover {
    background-color: #66667C;
}
/* Quote section */
#quote{
	padding:4em 1em;
}
/* Links section */
#links{
	background-color: #ffffff;
	width: 33%;
}
#links a{
	color: #4B4B5A;
}
footer{
	background-color: #4A4B5A;
	color:#ffffff;
	font-size: 0.82em;
	padding:4em 1em;
}
