@import url(fonts/neris);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* { margin:0;padding:0;box-sizing:border-box; 
}

body{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color:#4B4B5A;
	font-size: 18px;
}
h1, h2, h3, h4 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	padding: 0.2em;
}
h1{
	font-size: 4em;
}
h2{
	font-size: 2.5em;
}
#cta h2 {
	font-size: 4em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1.25em;
	font-weight: 200;
}
p{
	line-height: 1.5em;
}
ul{
	list-style-type:none;
	text-align: left;
}
li{
}
/**John: whow can align the logo with the navigation, on the same baseline**/
header{
	background-color: rgb(0, 171, 199);
	padding: 1em 7em;
	text-align: left;
	border-bottom: .2em solid #089FAF;
}
nav{
	color: #ffffff;
	font-weight: 300;
	font-size: 0.85em;
	text-align: right;
	text-transform: uppercase;
	position: absolute;
	right: 7em;
	top: 2em;
}
a{
	font-family: 'Montserrat', Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;	
	display: inline-block;
}
a:hover{
	text-decoration: none;
}
cite{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 0.75em;
	color: #ffffff;

}
blockquote{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-weight: 800;
	color: #ffffff;
	font-size: 2em;
}
/* Splash MAIN section */
#splash{
	padding:6em 1em;
	background-color: #ffffff;
}
.wrapper{
	max-width: 1000px;
	margin: 0 auto;
}
/*This is the main Button- CTA*/
.buttons {
	display:inline-block;
	padding: 1em 2em;
	color:#ffffff;
	background-color: #DB3B61;
	margin-top: 3em;
	text-decoration: none;
	border-bottom: 0.25em solid #99304E;
	border-radius: 0.3em 0.3em;
}
.buttons:hover {
    background-color: #D81E5D;
    border-bottom: 0.25em solid #99304E;
    text-decoration:none;
}
/* Packages section */
#packages{
	padding:1.5em;
	background-color: #E9E8E9;
	padding:4em 7em;
}
.pack{
	float:left;
	width:33.33%;
	padding: 3em 0em;
}
.pack ul img{
	margin: 0.5em;
	}
.pack h3{
	margin: 0.25em;
}
/* Promo section discount*/
#promo{
	padding:4em 1em;
	background-color: rgba(74, 75, 90, .90);
	color: #ffffff;
	background: url(http://verticalloop.com/wp-content/uploads/2015/04/background-home-vl-1920.jpg) center no-repeat fixed;
	background-size: cover;
}
#promo h2{
	margin-bottom: 0.4em;
}
/* CTA section */
#cta{
	padding:8em 1em;
	background-color: #ffffff;	
}
/* Quote section */
#quote{
	padding: 8em 1em;
	background: url(http://verticalloop.com/wp-content/uploads/2015/04/background-home-vl-1920.jpg) center no-repeat fixed;
	background-size: cover;
}
/* Links section */
.social-buttons a{
	padding: 0.15em 0.3em;
	color:#ffffff;
	background-color: #DB3B61;
	text-decoration: none;
	border-radius: 0.3em 0.3em;
	display: inline-block;
}
#links{
	background-color: #ffffff;
	font-family: Neris, Helvetica, sans-serif;
	padding: 2em 1em;
}
#links a{
	color: #4B4B5A;
	font-size: 1.25em;
}
.link{
	float: left;
	width: 33%;
}
/* sections border */
#splash, #packages, #promo, #cta, #quote, #links {
	border-bottom: .15em solid #DDDBDD;
}
/* footer */
footer{
	background-color: #4A4B5A;
	color:rgba(255, 255, 255, 0.5);
	font-size: 0.82em;
	padding:1.5em 7em;
}
footer img{
	opacity: 0.5;
}
/* clearfix for float elements*/
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
@media only screen and (max-width: 320px){
	body{
		font-size: 10px
	}
	.pack, #links, {
		float: none;
		text-align: center;
	}
	.wrapper{
	max-width: 96%;
	}
}
@media only screen and (max-width: 480px){
	body{
		font-size: 16px
	}
	.pack, #links, {
		float: none;
		text-align: center;
	}
	.wrapper{
	max-width: 92%;
	}
}
@media only screen and (max-width: 768px){
	body{
		font-size: 14px
	}
	.pack, #links, {
		float: none;
		text-align: center;
	}
	.wrapper{
	max-width: 90%;
	}
}
