* { margin:0;padding:0;box-sizing:border-box; }
body{
	text-align: center;
	font-family: Helvetica, sans-serif;
	color:#4B4B5A;
	font-size: 18px;
	background-color: #E9E8E9;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2em;
}
#cta h2 {
	font-size: 3em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1.15em;
	font-weight: 200;
}
ul{
	list-style-type:none;
	text-align: left;
}

nav{
	background-color: rgba(0, 171, 199,.5);
	color: #ffffff;
	font-size: 0.85em;
	padding:1em;
}
header{
	padding-top: 5em;
	padding-bottom: 5em;
}
#packages{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #ffffff;
}
.pack{
	color:#61616B;
	width:33.33%;
}
#promo{
	padding-top: 100px;
	padding-bottom: 100px;
}
#cta{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #ffffff;	
}
#quote{
	padding-top: 100px;
	padding-bottom: 100px;
}
#links{
	background-color: #ffffff;
}
footer{
	background-color: #4A4B5A;
	color:#ffffff;
	font-size: 0.82em;
	height: 72px;
	padding-top: 40px;
}
