@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* { margin:0;padding:0;box-sizing:border-box; 
}

body{
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	color: #4B4B5A;
	font-size: 18px;
}
h1{
	font-size: 3.7em;
	display: block;
}
#test1{
	background: url(../images/test1.jpg) center no-repeat fixed;
	background-size: cover;
	height:100vh;
}
#test2{
	background: url(../images/test2.jpg) center no-repeat fixed;
	background-size: cover;
	height:100vh;	
}
#test3{
	background: url(../images/test3.jpg) center no-repeat fixed;
	background-size: cover;
	height:100vh;	
}
.text{
	max-width: 32%;
	margin-left: 55%;
	padding-top: 8em;
}
p{
	padding-top: 1em;
	line-height: 1.5em;
}
a{
	display: inline-block;
	padding: 1em;
	margin-top: 2em;
	background-color: green;
	text-align: center;
	border-radius: 0.2em;
}
a:hover{
	background-color: blue;
}