@import url(http://fonts.googleapis.com/css?family=Lato:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
* { margin:0;padding:0;box-sizing:border-box; 
}
body{
	color: #78787a;
	font-family: 'Lato' sans-serif;
	font-size: 16px;
	background: url(http://sachamms.github.io/LiefjeSmith/images/homebackground_discovery.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	}

a{
	color: #78787a;
	text-decoration: none;
}
a:hover{
	color: #4d4d4d;
	text-decoration: none;
}

header{
	padding: 1.2em 2em;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px;
}

nav{
	text-align: right;
	padding: 0em 2em;
	position: absolute;
	top: 2.2em;
	right: 1em;
}
/*HOME*/
#wrapper{
	text-align: center;
	padding: 10em 8em;
}
/*I want to create 3 buttons with an image as a backgtound-help!*/
.category{
	float:left;
	position: relative;
	width:33%;
	text-align: center;
}
.category p{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}
/*WORK*/
h1{
	text-align: center;
	font-size: 5em;
	padding-top: 1em;
	color: #4d4d4d;
}
#worknav{
	text-align: center;
	padding: .5em;
	letter-spacing: .2em;

}
/*FOOTER*/
footer{
	font-size: 0.8em;
	text-align: center;
	background-color: rgba(255, 255, 255, .8);
	padding: 3em;
	position: absolute;
	bottom: 0;
	left:0;
	right: 0;
}
footer a{
	text-decoration: underline;
}
footer a:hover{
	text-decoration: underline;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}