@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* { margin:0;padding:0;box-sizing:border-box; 
}

body{
	font-family: 'Montserrat', sans-serif;
	color: #4B4B5A;
	font-size: 18px;
	text-align: left;
}
h1{
	font-size: 3.7em;
}
#test1{
	height: 100vh;
	margin: auto;
	background: url(/images/test1.jpg) center no-repeat fixed;
	background-size: cover;
}
#test2{
	height: 100vh;
	margin: auto;
	background: url(/images/test2.jpg) center no-repeat fixed;
	background-size: cover;
}
#test3{
	height: 100vh;
	margin: auto;
	background: url('/images/test3.jpg') center no-repeat fixed;
	background-size: cover;
}
.text h1, p{
	margin-left: 3em;
}